In [6]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [7]:
# loading the data_set
df1 = pd.read_csv('Fitness Classes Data\Classes April-May 2018.csv')
df2 = pd.read_csv('Fitness Classes Data\Classes June 2018.csv')

In [8]:
df1.head()

,ActivitySiteID,ActivityDescription,BookingEndDateTime (Month / Day / Year),BookingStartTime,MaxBookees,Number Booked,Price (INR)
0,HXP,20-20-20 2.45pm-3.45pm,08-Apr-18,14:45:00,25,12,499.0
1,HXP,20-20-20 2.45pm-3.45pm,15-Apr-18,14:45:00,25,15,499.0
2,HXP,20-20-20 2.45pm-3.45pm,22-Apr-18,14:45:00,25,14,499.0
3,HXP,20-20-20 2.45pm-3.45pm,29-Apr-18,14:45:00,25,9,499.0
4,HXP,20-20-20 2.45pm-3.45pm,06-May-18,14:45:00,25,7,499.0

In [9]:
df2.head()

,ActivitySiteID,ActivityDescription,BookingEndDateTime (Month / Day / Year),BookingStartTime,MaxBookees,Number Booked,Price (INR)
0,BRP,20:20:20 9.30-10.30am,01-Jun-18,9:30:00,35,28,499
1,BRP,20:20:20 9.30-10.30am,08-Jun-18,9:30:00,35,35,499
2,BRP,20:20:20 9.30-10.30am,15-Jun-18,9:30:00,35,31,499
3,BRP,20:20:20 9.30-10.30am,22-Jun-18,9:30:00,35,32,499
4,BRP,20:20:20 9.30-10.30am,29-Jun-18,9:30:00,35,19,499

In [10]:
# checking some insights of data 
df1.isnull().sum()

ActivitySiteID                              0
ActivityDescription                         0
BookingEndDateTime (Month / Day / Year)     0
BookingStartTime                            0
MaxBookees                                  0
Number Booked                               0
Price (INR)                                18
dtype: int64

In [11]:
df2.isnull().sum()

ActivitySiteID                             0
ActivityDescription                        0
BookingEndDateTime (Month / Day / Year)    0
BookingStartTime                           0
MaxBookees                                 0
Number Booked                              0
Price (INR)                                0
dtype: int64

In [12]:
#  droping the missing vlaues rowws bcz they are not in high quantity 
df1.dropna(inplace =True)

In [13]:
df2.dropna(inplace = True)

In [14]:
#Identify duplicates
df1.duplicated().sum()

0

In [15]:
df2.duplicated().sum()

0

In [16]:
df1.shape

(2159, 7)

In [17]:
df2.shape

(1112, 7)

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2159 entries, 0 to 2176
Data columns (total 7 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ActivitySiteID                           2159 non-null   object
 1   ActivityDescription                      2159 non-null   object
 2   BookingEndDateTime (Month / Day / Year)  2159 non-null   object
 3   BookingStartTime                         2159 non-null   object
 4   MaxBookees                               2159 non-null   int64
 5   Number Booked                            2159 non-null   int64
 6   Price (INR)                              2159 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 134.9+ KB

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 7 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ActivitySiteID                           1112 non-null   object
 1   ActivityDescription                      1112 non-null   object
 2   BookingEndDateTime (Month / Day / Year)  1112 non-null   object
 3   BookingStartTime                         1112 non-null   object
 4   MaxBookees                               1112 non-null   int64
 5   Number Booked                            1112 non-null   int64
 6   Price (INR)                              1112 non-null   int64
dtypes: int64(3), object(4)
memory usage: 60.9+ KB

we will change every column in integer as a data cleaning process

## Data Cleaning

In [20]:
#Changing data2 Price column datatype to float
df1['Price (INR)'] = df1['Price (INR)'].astype(float)

In [21]:
df2['Price (INR)'] = df2['Price (INR)'].astype(float)

In [22]:
df1.head()

,ActivitySiteID,ActivityDescription,BookingEndDateTime (Month / Day / Year),BookingStartTime,MaxBookees,Number Booked,Price (INR)
0,HXP,20-20-20 2.45pm-3.45pm,08-Apr-18,14:45:00,25,12,499.0
1,HXP,20-20-20 2.45pm-3.45pm,15-Apr-18,14:45:00,25,15,499.0
2,HXP,20-20-20 2.45pm-3.45pm,22-Apr-18,14:45:00,25,14,499.0
3,HXP,20-20-20 2.45pm-3.45pm,29-Apr-18,14:45:00,25,9,499.0
4,HXP,20-20-20 2.45pm-3.45pm,06-May-18,14:45:00,25,7,499.0

#  converting into standardize formate

In [23]:
df1['BookingEndDateTime (Month / Day / Year)'] = pd.to_datetime(
    df1['BookingEndDateTime (Month / Day / Year)'],
    format='%d-%b-%y'
)

In [24]:
df2['BookingEndDateTime (Month / Day / Year)'] = pd.to_datetime(
    df2['BookingEndDateTime (Month / Day / Year)'],
    format='%d-%b-%y'
)

In [25]:
df1.head()

,ActivitySiteID,ActivityDescription,BookingEndDateTime (Month / Day / Year),BookingStartTime,MaxBookees,Number Booked,Price (INR)
0,HXP,20-20-20 2.45pm-3.45pm,2018-04-08,14:45:00,25,12,499.0
1,HXP,20-20-20 2.45pm-3.45pm,2018-04-15,14:45:00,25,15,499.0
2,HXP,20-20-20 2.45pm-3.45pm,2018-04-22,14:45:00,25,14,499.0
3,HXP,20-20-20 2.45pm-3.45pm,2018-04-29,14:45:00,25,9,499.0
4,HXP,20-20-20 2.45pm-3.45pm,2018-05-06,14:45:00,25,7,499.0

In [26]:
df2.head()

,ActivitySiteID,ActivityDescription,BookingEndDateTime (Month / Day / Year),BookingStartTime,MaxBookees,Number Booked,Price (INR)
0,BRP,20:20:20 9.30-10.30am,2018-06-01,9:30:00,35,28,499.0
1,BRP,20:20:20 9.30-10.30am,2018-06-08,9:30:00,35,35,499.0
2,BRP,20:20:20 9.30-10.30am,2018-06-15,9:30:00,35,31,499.0
3,BRP,20:20:20 9.30-10.30am,2018-06-22,9:30:00,35,32,499.0
4,BRP,20:20:20 9.30-10.30am,2018-06-29,9:30:00,35,19,499.0

In [27]:
df_combined = pd.concat([df1,df2])

## Normalizing or Standardizing numerical feature

In [28]:
#Imporitng Important library
from sklearn.preprocessing import StandardScaler

In [29]:
#Identify numerical columns
numerical_columns = df_combined.select_dtypes(include=['int64', 'float64']).columns

In [30]:
# Initialize the StandardScaler
scaler = StandardScaler()

# Fit and transform the numerical features
df_combined[numerical_columns] = scaler.fit_transform(df_combined[numerical_columns])

In [31]:
df_combined.head()

,ActivitySiteID,ActivityDescription,BookingEndDateTime (Month / Day / Year),BookingStartTime,MaxBookees,Number Booked,Price (INR)
0,HXP,20-20-20 2.45pm-3.45pm,2018-04-08,14:45:00,-0.477833,-0.538786,-1.708124
1,HXP,20-20-20 2.45pm-3.45pm,2018-04-15,14:45:00,-0.477833,-0.223458,-1.708124
2,HXP,20-20-20 2.45pm-3.45pm,2018-04-22,14:45:00,-0.477833,-0.328567,-1.708124
3,HXP,20-20-20 2.45pm-3.45pm,2018-04-29,14:45:00,-0.477833,-0.854114,-1.708124
4,HXP,20-20-20 2.45pm-3.45pm,2018-05-06,14:45:00,-0.477833,-1.064333,-1.708124

In [32]:
from sklearn.preprocessing import LabelEncoder 

# Initialize the LabelEncoder
le = LabelEncoder()

# Encode the 'ActivitySiteID' column
df_combined['ActivitySiteID'] = le.fit_transform(df_combined['ActivitySiteID'])

In [33]:
#  Display the data type of 'ActivitySiteID' to verify
print("\nData type of 'ActivitySiteID' after encoding:")
df_combined['ActivitySiteID'].dtype

Data type of 'ActivitySiteID' after encoding:

dtype('int32')

In [34]:
# Convert 'BookingStartTime' to datetime
df_combined['BookingStartTime'] = pd.to_datetime(df_combined['BookingStartTime'], format='%H:%M:%S')

In [35]:
print("\nData type of 'BookingStartTime' after conversion:")
df_combined['BookingStartTime'].dtype

Data type of 'BookingStartTime' after conversion:

dtype('<M8[ns]')

In [36]:
df_combined['ActivityDescription'].unique()

array(['20-20-20  2.45pm-3.45pm', '20-20-20 7.00-8.00pm',
       '20-20-20 9.30-10.30am', '20:20:20  10-11 Am',
       '20:20:20  10.00-11.00am', '20:20:20  11am -12noon',
       '20:20:20  9.30-10.30am', '20:20:20 9.30-10.30am',
       '45min Madness 9.15-10am', 'Abs Blast 7.45-8.15am', 'Aerobics',
       'Aerobics 6.00-7.00pm', 'Aqua Babies 12 -12.30am',
       'Aqua Babies 9.30-10.00am', 'Aqua Fit 11.15-12.00',
       'Aqua Fit 12.15 -13.15', 'Aqua Fit 12.15-13.00',
       'Aqua Fit 2.45 -3.45pm', 'Aqua Fit 3.00-3.50pm',
       'Aqua Fit 4pm - 5pm', 'Aqua Tots & Babies 10.30-',
       'Aqua Tots 10 -10.30am', 'Aqua Tots 10.00-10.30am',
       'Aqua Tots 11.00-11.30am', 'Aqua Tots 9.00-9.30am',
       'Aqua Zumba  12.00-1.00pm', 'Aquababies 10.00 -10.30am',
       'Aquababies 10.30-11.00am', 'Aquababies/tots 12-12.30',
       'Aquafit  6.00-7.00pm', 'Aquafit  7.00-8.00pm',
       'Aquafit 11.00-12.00 Noon', 'Aquafit 11am - 12',
       'Aquafit 3.00-3.45pm', 'Aquafit 6.00-7.00pm',
       'Aquafit 7.00-8.00pm', 'Aquafit 7.15-8.15pm',
       'Aquafit Beginners 10-11am', 'Aquafit Ladiesonly',
       'Aquatots 10.30-11am', 'Aquatots 12.30- 13.00pm',
       'Aquatots-11.00-11.45am', 'Aquatots/baby 11.30-12.00',
       'B L T Exercise', 'Ballroom Dance 2.30-3.30',
       'Bar Pilate 11.30-12.30pm', 'Barre Pilates   12-1pm',
       'Barre Pilates 8.30-9.30am', 'Basic Stretch Class',
       'Better Living', 'Better Living Team 2pm', 'Blt Weigh Manage',
       'Bodsculp Aero 10.30-11.30', 'Body Attack 10-11am',
       'Body Attack 10.00-11.00am', 'Body Attack 5.00-6.00pm',
       'Body Attack 5.30 -6.30pm', 'Body Attack 8.00-9.00pm',
       'Body Attack9.00-10.00am', 'Body Balan 11.30-12.30pm',
       'Body Balance 11-12pm', 'Body Balance 11.30-12.30',
       'Body Balance 12-1pm', 'Body Balance 12.30-1.30pm',
       'Body Balance 7pm-8pm', 'Body Combat   5.00-6.00pm',
       'Body Combat 10-11am', 'Body Combat 10.00-11.00am',
       'Body Combat 10.30', 'Body Combat 10.30-11.30',
       'Body Combat 11-12pm', 'Body Combat 11.30-12.30pm',
       'Body Combat 5-6pm', 'Body Combat 5.00-6.00pm',
       'Body Combat 5.30-6.30pm', 'Body Combat 5.45-6.45pm',
       'Body Combat 6-7.00pm', 'Body Combat 6.00-7.00pm',
       'Body Combat 6.45-7.45pm', 'Body Combat 7.00-8.00am',
       'Body Combat 7.00-8.00pm', 'Body Combat 9-10am',
       'Body Combat 9.15-10.15am', 'Body Con 09.30-10.30am',
       'Body Con 1.45-2.30pm', 'Body Con 10.30-11.30am',
       'Body Con 11.30am-12.30pm', 'Body Con 4.30-5.30pm',
       'Body Cond  11-12noon', 'Body Cond 10-11am',
       'Body Cond 10.30-11.30am', 'Body Cond 11-12',
       'Body Cond 12.00 - 1.00pm', 'Body Cond 12.00-12.45pm',
       'Body Cond 12.45-1.45pm', 'Body Cond 3.50pm - 4.50pm',
       'Body Cond 5.00-6.00pm', 'Body Cond 6.30-7.30pm',
       'Body Cond 7.30-8.30pm', 'Body Cond 8.00-9.00pm',
       'Body Cond 9.30-10.15am', 'Body Condition 10 -11am',
       'Body Conditioning', 'Body Conditioning 10-11am',
       'Body Conditioning 11.30am', 'Body Conditioning 8-9pm',
       'Body Pump  5.45-6.45pm', 'Body Pump 12.30-1.30pm',
       'Body Pump 8.00-9.00pm', 'Body Pump 9.00-10.00am',
       'Bodycondition 12.30-13.30', 'Chair Based Exercise',
       'Circuits 5.30-6.30pm', 'Circuits 7 -7.45 Am',
       'Circuits 7.15-8.15pm', 'Circuits 8.00-9.00pm Edit',
       'Ex Better Living Team', 'Fitnes Pilate-11.00-12.00',
       'Fitnes Pilates2.30-3.15pm', 'Fusion   6.00-7.00pm',
       'Fusion 5pm -6pm', 'Gentle Keep Fit 11-12pm',
       'Gentle Keep Fit 11.10-12', 'Gentle Keep Fit 2 -3.00pm',
       'Gentle Keep Fit 2-3pm', 'Gentlekeepfit 10.30-11.30',
       'H.I.I.T 7.00-8.00am', 'H.I.I.T 9.30-10.30am',
       'H.I.I.T.  5.00-6.00pm', 'H.I.I.T. 6.25-7.25pm',
       'H.I.T.T 6pm - 6.45pm', 'Hatton A B C 6-7.00pm',
       'Hatton A B C 7-8am', 'Hatton Abc Box  10-11am',
       'Hiit Circuit 9.30 - 10.30', 'Insanity 5:00-6:00pm',
       'Jnr Gym Appoint 11-12', 'Jnr Gym Appoint 4-5pm',
       'Jnr Gym Ind 10.30-11.00am', 'Jnr Gym Ind 3.30-4.00pm',
       'Jnr Gym Ind 3.30-5.00pm', 'Jun Induction 12.30',
       'Junior Gym 1.00-2.00pm', 'Junior Gym 11-12 Noon',
       'Junior Gym 3.30-5.00pm', 'Junior Gym 4-5pm 8-13yrs',
       'Junior Gym 4.00-5.00pm', 'Junior Gym10-11am 8-13yrs',
       'Junior Swimfit 7pm-8pm', 'Leg Bum Tum 5.30-6.30pm',
       'Legs Bums Tum 6.00-7.00pm', 'Legs Bums Tums 10-11am',
       'Legs Bums Tums 12.30-1.30', 'Line Dance 10.45-11.45am',
       'Line Dance 11.45-12.45pm', 'Line Dancing  11-12.30pm',
       'Line Dancing 1.15-2.00pm', 'Line Dancing 1.30-2.30pm',
       'Line Dancing 2pm -3pm', 'M M A Cond 8.30-9.30am',
       'Metafit 4.30-5.00pm', 'Metafit 5.30-6.00pm',
       'Nice & Easy 10.00-10.45am', 'Nice & Easy 11.30-12.30pm',
       'Nice & Easy 9.15-10.15am', 'Nice N Easy 9.30-10.30am',
       'Pilates   9.00-10.00am', 'Pilates 1.45-2.45pm',
       'Pilates 10.00-11.00am', 'Pilates 11.00-12.00 Noon',
       'Pilates 12.15-1.15pm', 'Pilates 13.45-14.45',
       'Pilates 14:45- 15:45', 'Pilates 5.00-5.45pm',
       'Pilates 6.45-7.45pm', 'Pilates 7.30-8.30pm',
       'Pilates 8.00pm-9.00pm', 'Pilates 9-10am', 'Pilates 9.00-9.50am',
       'Pilates 9.30-10.30am', 'Power Yoga 10.00-11.00am',
       'Power Yoga 10.15-11.15am', 'Pump  8.15-9.15pm',
       'Pure Stretch  11.00 12.00', 'Pure Stretch 12.00-1.00pm',
       'Pure Stretch 8-9pm', 'Rock Roll Dancing 3 - 4pm',
       'Sh`Bam   6.30-7.30pm', 'Sh`Bam  7.30-8.15pm',
       'Sha`Bam  11.00-12.00pm', 'Step 6-7pm', 'Step Aerobics 10-11.00am',
       'Step Aerobics 5.45-6.30pm', 'Step Heidi (from Nb)10.30',
       'Step Zumba 6.00-7.00pm', 'Step- 10.00-11.00am',
       'Strength&stretch1230-1330', 'Stretch   11.30-12.30pm',
       'Stretch 11-12.00', 'Stretch 11-12pm', 'Stretch 6pm -7pm',
       'Stretch And Tone 12-1pm', 'Stretch Ntone12.30-1.30pm',
       'Stroke Skill19.15-20.15pm', 'Strokeskills 6 -7pm',
       'Strokeskills 6pm - 7pm', 'Strokeskills 7.15-8.15pm',
       'Strokeskills 7pm -8pm', 'Studio Cyc 1.10 - 2.00pm',
       'Studio Cyc 10.00 -10.50am', 'Studio Cyc 10.00-10.50am',
       'Studio Cyc 11.30 - 12.20', 'Studio Cyc 12.10-1.00pm',
       'Studio Cyc 12.30-1.20pm', 'Studio Cyc 4.20-5.10pm',
       'Studio Cyc 5.00-5.50pm', 'Studio Cyc 5.10-6.00pm',
       'Studio Cyc 5.20-6.10pm', 'Studio Cyc 5.55-6.45pm',
       'Studio Cyc 6.10-7.00pm', 'Studio Cyc 6.15-7.05pm',
       'Studio Cyc 7.00-7.50pm', 'Studio Cyc 7.05-7.55am',
       'Studio Cyc 7.30-8.20pm', 'Studio Cyc 8.00-8.50am',
       'Studio Cyc 8.00-8.50pm', 'Studio Cyc 8.50-9.40am',
       'Studio Cyc 9.05-9.55am', 'Studio Cycling 7.05 -7.55',
       'Swim Fit-20.15-21.15pm', 'Swimfit  7am - 8am',
       'Swimfit  8pm - 9pm', 'Swimfit 6.30 -7.30pm',
       'Swimfit 6.30-7.30am', 'Swimfit 6.30am -7.30am', 'Swimfit 7am-8am',
       'Swimfit 7pm - 8pm', 'Tai Chi 2.00-3.00pm', 'Tai-Chi  12 -1pm',
       'Tap Dancing 11.15-12.15pm', 'Tap Dancing 12-1.30pm',
       'Tap Dancing 12.00-1.30pm', 'Yoga 1.45-2.45pm',
       'Yoga 10.30-11.30am', 'Yoga 12.45-1.45pm',
       'Yogalates  6.30-7.30pm', 'Yogalates 10.00-11.00am',
       'Yogalates 10.30-11.30am', 'Yogalates 10.30am',
       'Yogalates 11.00-12.00', 'Yogalates 7.00-8.00pm',
       'Yogalates 7.45-8.30pm', 'Zumba', 'Zumba  6.30-7.30pm',
       'Zumba - 6-7pm', 'Zumba 10.00-10.50.Am', 'Zumba 12.45-1.45pm',
       'Zumba 6.00 - 7.00pm', 'Zumba 6.15-7.15pm', 'Zumba 9.30-10.30am',
       'Zumba Gold 1.45-2.45pm', 'Zumba Gold 12.45-1.45pm',
       'Aqua Fit 14.45pm', 'Body Attack 9-10 Am', 'Body Con 9.00-10.00am',
       'Junior Gym 11.00-12.00', 'Body Con   2.45pm-3.45pm',
       'Body Con   11am -12noon', 'Studio Cyc 9.05 -9.55am',
       'B L T Antenatal Mums', 'B L T Chair Based',
       'Body Cond 5.45-6.45pm', 'Body Cond 1745-1845',
       'Purestretch 6.45-7.45pm', 'Family Bootcamp 4-4.45pm',
       'Wm Better Living Team', '5.30-6.30pm Body Cond',
       '6.30-7.30pm Combat Aero', 'B L T- Weight Manage Clas',
       'Strokeskill 19.15-20.15pm'], dtype=object)

In [37]:
# Encode the 'ActivityDescription' column
df_combined['ActivityDescription'] = le.fit_transform(df_combined['ActivityDescription'])

In [38]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3271 entries, 0 to 1111
Data columns (total 7 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ActivitySiteID                           3271 non-null   int32
 1   ActivityDescription                      3271 non-null   int32
 2   BookingEndDateTime (Month / Day / Year)  3271 non-null   datetime64[ns]
 3   BookingStartTime                         3271 non-null   datetime64[ns]
 4   MaxBookees                               3271 non-null   float64
 5   Number Booked                            3271 non-null   float64
 6   Price (INR)                              3271 non-null   float64
dtypes: datetime64[ns](2), float64(3), int32(2)
memory usage: 178.9 KB

In [40]:
df_combined.to_excel('Cleaned_and_Preprocessed_Data_Set.xlsx')